<?xml version='1.0' encoding='UTF-8'?>
<Server port="8005" shutdown="SHUTDOWN">
	  <Service name="Catalina">
		      <Connector port="80" protocol="HTTP/1.1"/>
			          <Engine name="Catalina" defaultHost="localhost">
					  
					  <!-- BEGIN realm -->
(how_to_adding_an_existing_project_to_github_using_command_line.md)
(how_to_change_ubuntu_update_source_to_mirror_site_in_china.md)
(how_to_check_wsl_version.md)
(how_to_install_chocolatey_in_win10.md)
(how_to_install_everything.md)
(how_to_install_nvdia_driver_and_cuda_in_ubuntu.md)
(how_to_install_opencv_in_ubuntu_via_apt.md)
(how_to_install_tensorflow_in_ubuntu_via_apt.md)
(list_all_md_file_into_README_file.md)
(markdown.md)
(move_install_wsl_distro_from_c_drive_to_another_drive.md)
					  <!-- END realm -->
					  
				<Host name="localhost" appBase="webapps"/>
			
			</Engine>
		
		</Service>
	
	</Server>
